@{
    ViewBag.Title = "Blog";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <partial name="~/Views/Shared/Partial/_Categories.cshtml" />
                    <partial name="~/Views/Shared/Partial/_Brands.cshtml" />
                    <partial name="~/Views/Shared/Partial/_PriceRange.cshtml" />
                    <partial name="~/Views/Shared/Partial/_Shipping.cshtml" />
                </div>
            </div>
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">Latest From our Blog</h2>
                    <partial name="Partial/_BlogPosts" />
                    <partial name="Partial/_Pagination" />
                </div>
            </div>
        </div>
    </div>
</section>