@inject IProductData ProductData

@{ 
    var products = ProductData
        .GetProducts()
        .Take(6)
        .Select(el => new ProductViewModel
        {
            Id = el.Id,
            Name = el.Name,
            Price = el.Price,
            ImageUrl = el.ImageUrl,
            Order = el.Order
        }).OrderBy(p => p.Order);
}

@{
    ViewBag.Title = "Home";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <partial name="Partial/_Carousel" />
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="~/Views/Shared/Partial/_LeftSideBar.cshtml"/>
            </div>

            <div class="col-sm-9 padding-right">
                <partial name="~/Views/Shared/Partial/_FeaturesItems.cshtml" model="products"/>
                <partial name="Partial/_CategoryTab" />
                <partial name="Partial/_RecommendedItems" />
            </div>
        </div>
    </div>
</section>
